{% extends "base.html" %}

{% block title %}PushIT - Welcome{% endblock %}

{% block content %}
Welocome {{ user.username }} to PushIT home.

<input type=button onClick="parent.location='logout'" value='Logout'>


<form action="/home" method="post">{% csrf_token %}
{{form.as_p}}
<button type="submit" name="action_id" value="sms">SMS</button>
<button type="submit" name="action_id" value="email">Email</button>
<button type="submit" name="action_id" value="call">Call</button>
<button type="submit" name="action_id" value="browse">Browse</button>
<button type="submit" name="action_id" value="copy">Copy/Paste</button>

</form>
{% endblock %}